* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
}

.container {
    display: flex;
    margin: 10px auto;
}

.left-side {
    width: 45%;
    padding: 50px;
    margin: 50px ;
}

.left-side h2 {
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.left-side p {
    padding-right: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(248, 232, 232);
    line-height: 1.5em;
}

.right-side{
    width: 55%;
}

.rigth-side-container {
    width: 9% auto;
    padding: 0px 5px;
}

.rigth-side-container button {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.trial-button-container {
    margin: 10px 0px 30px 0px;
}

.trial-button-container button {
    background-color: hsl(248, 32%, 49%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.form-container {
    background-color: white;
    padding: 50px;
}

.form-group input{
    width: 100%;
    margin: 15px 0px;
    padding: 20px;
    border-radius: 12px;
    border: solid 1px hsl(246, 25%, 77%);
}

input:focus {
    border: solid 1px hsl(247, 84%, 46%);
}

